# 🔐 Wallet Configuration
PRIVATE_KEY='your_private_key_here'
WALLET_PASSWORD='your_wallet_password_here'
MY_ADDRESS=your_wallet_address_here

# 🌉 Neura Urls
NEURA_DEVNET_URL=https://dev-bridge.infra.neuraprotocol.io/
NEURA_TESTNET_URL=https://testnet-bridge.infra.neuraprotocol.io/
NEURA_DEVNET_RPC_URL=https://testnet.rpc.neuraprotocol.io
NEURA_TESTNET_RPC_URL=https://testnet.rpc.neuraprotocol.io

# 🔗 Holesky Urls
HOLESKY_RPC_URL=your_holesky_rpc_url_here
HOLESKY_SCANNER=https://holesky.etherscan.io/
HOLESKY_WSS=your_holesky_wss_url_here
SUBGRAPH_URL=your_subgraph_url_here

# 🏗️ Contract Addresses
HOLESKY_BRIDGE_ADDRESS=your_holesky_bridge_address_here
NEURA_BRIDGE_ADDRESS=your_neura_bridge_address_here
ANKR_TOKEN_ADDRESS=your_ankr_token_address_here